<header>
    <span class="logo-spacer">
     <img src="https://via.placeholder.com/300x75">
    </span>
    <nav id="dsk-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <nav id="mob-nav">
    <i class="fas fa-bars"></i>
  </nav>
  </header>  
  
  <div class="mobile-nav-container">
  <aside id="mobile-nav-window">
   <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
      </ul>
   </aside>
   </div>