.main-copy {
    padding: 25px;
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

/* Slick Slider item styles */
.hero-class {
    min-height:300px;
}

.slick-item {
    display:block;
    width:100%;
    min-height:300px;
    background-color:pink;
}

.copy {
    width:600px;
}

.image {

}

/* Create Media Query for browser width */

#mob-nav {
  display:none;
}

.mobile-nav-container {
  display:none;
}
@media screen and (max-width: 947px) {
  #dsk-nav{
    display:none;
  }
  .mobile-nav-container {
    display:none;
  }
  #mob-nav {
    position:relative;
    display:block;
  }
      .fas, .fa-bars {
    color:white;
    margin-top:25px;
    margin-right:25px;
    display:block;
  }
}