header{
    height:75px;
    background-color:black;
    color:white;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
  }
  
  header > nav > ul > li {
    text-decoration:none;
    list-style-type:none;
    display:inline;
    width:100px;
  
    padding:50px;
    line-height:75px;
    
  } 
  
  header > nav > ul > li > a {
    display:inline-block;
    color:white;
    text-decoration:none;
    width:100px;
    text-align:center;
    
  } 
  
  header > nav > ul > li > a:hover {
    display:inline-block;
    color:white;
    text-decoration:underline;
    background-color:grey;
    width:100px;
    text-align:center;
  } 
  
  
  .logo-spacer {
    flex-grow:1;
  }
      .fas, .fa-bars {
      color:white;
      margin-top:25px;
      margin-right:25px;
      display:none;
    }
  
  
  .mobile-nav-container {
    position:relative;
    background-color:black;
    width:100%;
    top:-250px;
    z-index:-1;
  }
  
  .mobile-nav-window-active {
    background-color:black;
    width:100%;
    z-index:0;
    top:0 !important;
  }
  
  
  
  .mobile-nav-container > aside > ul {
  margin:0;
    padding:0px;
  }
  
  .mobile-nav-container > aside > ul >li {
    margin:0;
    padding:0px;
    
  }
  
  .mobile-nav-container > aside > ul > li > a {
      display: inline-block;
      color: white;
      height: 55px;
      padding: 10px;
      line-height: 50px;
      text-decoration: none;
  }
  
  .mobile-nav-container > aside > ul > li  > a:hover {
    color:white;
    text-decoration:none;
    display:block;
    background-color:#373737;
  }